.emblem__item {
    max-width: 191px;
    margin: 0 10px;
}

@media screen and (min-width:1024px) and (max-width:1279px) {     
    .emblem__item {
        max-width: 169px;
        margin: 0 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {     
    .emblem__item {
        max-width: 191px;
        margin: 30px 20px 0 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) {     
    .emblem__item {
        margin: 0 auto;
    }
}

